* {
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0);
}


html, body {
  font-family: 'Montserrat', sans-serif;
  background-color: #0A1F38;
  width: 100%;
  min-width: rem(360);
  min-height: 100%;
}

input, textarea, button {
  border: none;
  outline: none;
  -webkit-appearance: none;
  font-family: 'Montserrat', sans-serif;
}

input {
  font-weight: 400;
  font-size: rem(18);
  line-height: rem(28);
}

#app {
  max-width: rem(1920);
  margin: 0 auto;
  font-weight: normal;
}